body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #6495ED;
    color: #87CEFA;
    text-align: center;
    padding: 1em 0;
}

nav {
    background-color: #F0F8FF;
    text-align: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    display: inline-block;
    color: #696969;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #F0FFFF;
}

main {
    flex: 1;
    padding: 20px;
    text-align: center;
    background-color: #e0f7fa;
}

.reviews-section {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    max-width: 800px;
    text-align: left;
}

.reviews-section h2 {
    color: #00CED1;
}

.reviews-container {
    margin-top: 20px;
}

.review {
    background-color: #f9f9f9;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.review h3 {
    margin: 0 0 10px;
    color: #6495ED;
}

.review p {
    margin: 0 0 10px;
}

.review span {
    color: #999;
}

footer {
    background-color: #F5FFFA;
    color: white;
    text-align: center;
    padding: 10px 0;
}

footer p {
    margin: 7px 0;
    color: black;
}
