body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #6495ED;
    color: #87CEFA;
    text-align: center;
    padding: 1em 0;
}

main {
    flex: 1;
    padding: 20px;
    text-align: center;
    background-color: #e0f7fa;
}

footer {
    background-color: #F5FFFA;
    color: white;
    text-align: center;
    padding: 10px 0;
}

footer p {
    margin: 7px 0;
    color: black;
}

.doctor-selection-section {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    max-width: 800px;
    text-align: left;
}

.doctor-selection-section h2 {
    text-align: center;
    color: #00CED1;
}

.doctor-panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f0f8ff;
    padding: 15px;
    margin: 10px 0;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.doctor-panel span {
    margin: 0 10px;
}

.doctor-panel a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #6495ED;
    color: white;
    text-decoration: none;
    border-radius: 4px;
}

.doctor-panel a:hover {
    background-color: #4169e1;
}

.search-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.search-form label {
    margin: auto 0;
}

.search-form input, .search-form select {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.search-form button {
    padding: 5px 10px;
    background-color: #00CED1;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.search-form button:hover {
    background-color: #009fa5;
}
