<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Online Clinic</title>
    <link th:href="@{/styles/css/login.css}" rel="stylesheet" />
</head>
<body>
    <header>
        <h1>Login to Online Clinic</h1>
    </header>
    <main>
        <section class="form-section">
            <h2><a class="navbar-brand" th:href="@{/home}">Log In</a></h2>
            <form method="post"
                  role="form"
                  th:action="@{/login}"
                  class="form-horizontal">
                <label for="username">Username</label>
                <input
                        type="text"
                        id="username"
                        name="username"
                        class="form-control"
                        placeholder="Enter Login"
                        required
                />
                
                <label for="password">Password</label>
                <input
                                    type="text"
                                    id="password"
                                    name="password"
                                    class="form-control"
                                    placeholder="Enter password"
                                    required
                />
                
                <button type="login">Log In</button>
                <button><a th:href="@{/register}">Register/Signup here</a></button>
            </form>
        </section>
    </main>
    <footer>
        <p>Contact Us: </p>
        <p>Phone: (123) 456-7890</p>
        <p>Email: contact@onlineclinic.com</p>
    </footer>
</body>
</html>
