<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Online Clinic</title>
    <link rel="stylesheet" href="../static/css/login.css">
</head>
<body>
    <header>
        <h1>Login to Online Clinic</h1>
    </header>
    <main>
        <section class="form-section">
            <h2>Log In</h2>
            <form action="/login" method="post">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username">
                
                <label for="password">Password:</label>
                <input type="password" id="password" name="password">
                
                <button type="login">Log In</button>
                <button type="register">Register</button>
            </form>
        </section>
    </main>
    <footer>
        <p>Contact Us: </p>
        <p>Phone: (123) 456-7890</p>
        <p>Email: contact@onlineclinic.com</p>
    </footer>
</body>
</html>
