<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register - Online Clinic</title>
    <link th:href="@{/styles/css/register.css}" rel="stylesheet" />
</head>
<body>
    <header>
        <h1>Register at Online Clinic</h1>
    </header>
    <main>
        <section class="form-section">
            <h2><a class="navbar-brand" th:href="@{/home}">Register</a></h2>
            <form
                        method="post"
                        role="form"
                        th:action="@{/register/save}"
                        th:object="${user}"
                >
				
				<div class="form-group">
				<label class="username">Username:</label>
                <input
                                id="login"
                                name="login"
                                placeholder="Enter login"
                                th:field="*{login}"
                                type="text"
                                required
                        />
				<p th:errors="*{login}" class="text-danger"
                   th:if="${#fields.hasErrors('login')}"></p>
				   
				</div>
				
                <div class="form-group">
				<label class="form-label">Password</label>
                 <input
                        class="form-control"
                        id="password"
                        name="password"
                        placeholder="Enter password"
                        th:field="*{password}"
                        type="password"
                        required
                />
                <p th:errors="*{password}" class="text-danger"
                th:if="${#fields.hasErrors('password')}"></p>
				</div>
                
                <div class="form-group">
                        <label class="form-label">Role</label>
                        <select id="role" name="role" class="form-control" required>
                            <option value="" disabled>Select Role</option>
                            <option th:each="role : ${T(com.diasbuz.capstone_project_clinic.model.Roles).values()}"
                                    th:value="${role}" th:text="${role.getRole}"></option>
                        </select>
                        <p th:errors="*{role}" class="text-danger"
                           th:if="${#fields.hasErrors('role')}"></p>
                    </div>
                    <div class="form-group">
                        <label class="form-label">Name</label>
                        <input
                                class="form-control"
                                id="name"
                                name="name"
                                placeholder="Enter name"
                                th:field="*{name}"
                                type="text"
                                required
                        />
                        <p th:errors="*{name}" class="text-danger"
                           th:if="${#fields.hasErrors('name')}"></p>
                    </div>
                    <div class="form-group">
                        <label class="form-label">Phone</label>
                        <input
                                class="form-control"
                                id="phone"
                                name="phone"
                                placeholder="Enter phone"
                                th:field="*{phone}"
                                type="text"
                                required
                        />
                        <p th:errors="*{phone}" class="text-danger"
                           th:if="${#fields.hasErrors('phone')}"></p>
                    </div>
                    <div class="form-group">
                        <label class="form-label">Email</label>
                        <input
                                class="form-control"
                                id="email"
                                name="email"
                                placeholder="Enter email"
                                th:field="*{email}"
                                type="email"
                                required
                        />
                        <p th:errors="*{email}" class="text-danger"
                           th:if="${#fields.hasErrors('email')}"></p>
                    </div>
                
                <button type="submit">Register</button>
                <button><a type="login" th:href="@{/login}">Back to login page</a></button>
            </form>
        </section>
    </main>
    <footer>
        <p>Contact Us: </p>
        <p>Phone: (123) 456-7890</p>
        <p>Email: contact@onlineclinic.com</p>
    </footer>
</body>
</html>
