<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Specialists - Online Clinic</title>
    <link rel="stylesheet" th:href="@{/styles/css/specialists.css}">
</head>
<body>
<header>
    <h1>Specialists</h1>
</header>
<main>
    <section class="specialists-section">
        <h2>Our Doctors</h2>
        <p th:if="${totalDoctors > 0}">Number of Doctors in Database: <span th:text="${totalDoctors}">0</span></p>
        <div th:if="${totalDoctors > 0}" th:each="doctor : ${doctors}" class="doctor-panel">
            <h3 th:text="${doctor.name}">Doctor Name</h3>
            <p th:text="'Specialty: ' + ${doctor.service.name}">Specialty</p>
            <p th:text="'Email: ' + ${doctor.email}">Email</p>
            <p th:text="'Phone: ' + ${doctor.phone}">Phone</p>
            <p th:text="'Rating: ' + ${doctor.getAverageRating()}">Rating</p>
            <a th:href="@{/comments/{doctorId}(doctorId=${doctor.userId})}">View Comments</a>
        </div>
    </section>
</main>
<footer>
    <p>Contact Us: </p>
    <p>Phone: (123) 456-7890</p>
    <p>Email: contact@onlineclinic.com</p>
</footer>
</body>
</html>